.navbar{
    display: flex;
    background-color: #1E3A8A;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}
.navbar a {
    color: #FFFFFF;
    padding-inline: 50px;
    text-decoration: none;
}
.navbar a:hover{
    color: #3B82F6;
}