.navbar{
    display: flex;
    background-color: #1E3A8A;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}
.logo {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
}
nav {
    display: flex;
    gap: 2rem;
}
.navbar a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
}
.navbar a:hover{
    background-color: #3B82F6;
    color: #FFFFFF;
}